body{margin: 0; font-family: Arial, Helvetica, sans-serif;}


*{
    box-sizing: border-box;
}

h1{font-size: 3em;}
h2{font-size: 2.5em;}
h3{font-size: 2em;}
p{font-size: 1.5em;}
ul{list-style: none;}

button{
    background-color: green;
    font-family: 1.5em;
    font-weight: bold;
    padding: 10px;
    color: white;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    


} 
button:hover{
    cursor: pointer;
    background-color: rgb(21, 156, 21);
}
li{font-size: 1.25em;}

html{scroll-behavior: smooth;}

.container{
    max-width: 1400px;
    margin: auto;
}

header{background-color: green}
header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: rgb(245, 245, 245);
    font-size: 1.7em;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
header nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;

}

header a {
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(245, 245, 245);
}


#denuncia{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)

    ) 
    ,url(img/23.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 90vh;
    color:white
    
    
}
#denuncia button{
    font-size: 17px;
}

#somos .container{
    text-align:  center;
    padding: 20px 12px;

}
span{color: green;}

#ultima_noticias{   
    background-color: rgb(30, 30, 30);
    color: white;
    text-align: center;
}

#ultima_noticias .container{
    padding: 100px 12px;
}

#ultima_noticias p{
    display: none;
}
#ultima_noticias h2{
    padding-top: 0;
}
#ultima_noticias .carta{
    background-position: center center;
    background-size: cover;
    padding: 15px;
    margin: 10px;
    border-radius: 12px;
}
.carta:first-child {
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)

    ) 
    ,url(img/dadawd.jpg);
}
.carta:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)

    ) 
    ,url(img/descarga.jpg);
}
.carta:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)

    ) 
    ,url(img/brasil.png);
}
#servicios .container{
    text-align: center;

}
#servicios li{
    margin: 10px;
}
#pertenecer .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(30, 30, 30);
    color: white;
    height: 88vh;
}
#pertenecer button{
    font-size: 18px;
}
#pertenecer p{
    font-size: 30px;
}

footer {
    background-color: rgb(230, 230, 230);
    height:150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}
footer p {
    margin: 0px;
    padding-bottom: 15px;
    color: rgb(100, 100, 100);
}
@media (min-width: 750px) {
    header {
        position: fixed;
        width: 100%;
    }
    header .logo{
        padding: 15px;
        padding-left: 20px;
    }
    
    header .container{
        flex-direction: row;
        justify-content: space-between;
      
     
        
    }
    header nav{
        flex-direction: row;
        padding-bottom: 0px;
        padding-right: 10px;
        ;
    }
    
    #somos .container{
        display: flex;
        justify-content: center;
        padding: 10px;
    }
    #somos .texto{
        width: 50%;
        text-align: center;
        padding-left: 45px;
        max-width: 600px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #somos h2{
        margin:0px
    }

    #imga{
        padding-bottom: 15px;
        margin-top: 50px;
        background-size: cover;
        background-position: center center;
        height: 400px;
        width: 400px;}
}
#ultima_noticias .hola{
    display: flex;
    justify-content: center;
    padding: 0px 10px;

}
#ultima_noticias h3{
    margin-top: 0px;
}

#ultima_noticias p {
    display: block;
}
#ultima_noticias .carta{
    padding: 50px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
}
#ultima_noticias .container{
    padding: 10px;
}
#ultima_noticias h2 {
    margin-top: 10px;
}

#servicios{
    background-image: url(img/brasil.png) ;
    background-repeat: no-repeat;
    height: 400px;
    background-size: 400px 300px;
    background-position: right;
    
}

#servicios ul{
    text-align: initial;
    padding: 120px 70px;
}
footer .container{
    justify-content: flex-end;
}